<%- include("partials/header.ejs") %>

<section class="flex w-full h-auto mx-auto mb-10">
  <div class="w-3/4 py-16 mx-auto">
    <div
      id="user"
      class="flex flex-row gap-4 p-4 border-b-2 border-yellow-300 justify-between"
    >
      <div class="">
        <h2 class="text-yellow-300 text-lg font-bold font-IBM">
          <%= username %>
        </h2>
        <h2 class="text-green-300 text-lg font-semibold"><%= email %></h2>
      </div>
      <h2 class="text-green-300 text-lg font-bold">
        total links :
        <span class="text-yellow-300"> <%= allFileLinksCount %> </span>
      </h2>
    </div>

    <!-- Your links -->
    <h3 class="text-md text-purple-300 pt-11">links</h3>
    <ul class="mt-6">
      <% if(findAllFileOFThisUser.length === 0) { %>
      <h2 class="text-red-500 text-center text-3xl">No data uploaded yet</h2>
      <% } %>

      <!-- add here forEach function and make it repeat multiple time at how many links are available by user  -->
      <% findAllFileOFThisUser.forEach((file, index) => { %>
      <li class="py-3 file-item">
        <div class="flex justify-between font-IBM">
          <!-- file-index class name is used for updating the file index after deleting a files -->
          <span class="text-yellow-500 mr-10 file-index"
            ><%= index + 1 %>.</span
          >
          <span
            class="text-purple-500 filename-display"
            title="<%=  file.originalFileName %>"
          >
            <%= file.originalFileName.length >= 20
            ?file.originalFileName.substring(0,20) + "..." :
            file.originalFileName %> -
            <small class="text-slate-400"><%= file.filename %></small>
            <input
              type="text"
              class="filename-input hidden"
              data-uuid="<%= file.uuid %>"
              value="<%= file.originalFileName %>"
            />
          </span>
          <span class="text-green-400"
            ><%= (file.size / 1024 / 1024).toFixed(2) %> MB</span
          >
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="text-blue-500 underline hover:text-blue-700 font-mono"
          >
            preview file
          </a>
          <!-- icons -->
          <div class="flex gap-6 py-2">
            <!-- download -->
            <a
              class="downloadBtn"
              data-download-url="<%= file.download_url %>"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="/icons/download.svg"
                class="w-7 h-7 rounded-md hover:cursor-pointer hover:bg-red-400"
                alt="download button"
                title="Download"
              />
            </a>

            <!-- share -->
            <button
              id="shareBtn"
              class="outline-none"
              data-download-url="<%= file.download_url %>"
            >
              <img
                src="/icons/share.svg"
                class="w-7 h-7 rounded-md hover:cursor-pointer hover:bg-green-800"
                alt="share button"
                title="share"
              />
              <img
                src="/icons/premiumIcon.svg"
                class=" "
                alt="premiumIcon"
                title="share"
              />
            </button>

            <!-- update -->
            <button id="updateBtn" data-uuid="<%= file.uuid %>">
              <img
                src="/icons/update.svg"
                class="w-7 h-7 rounded-md hover:cursor-pointer hover:bg-purple-600"
                alt="update button"
                title="update"
              />
              <!-- premium icon -->
              <img
                src="/icons/premiumIcon.svg"
                class=" "
                alt="premiumIcon"
                title="share"
              />
            </button>

            <!-- delete -->
            <button id="deleteBtn" class="pb-3" data-uuid="<%= file.uuid %>">
              <img
                src="/icons/delete.svg"
                class="w-7 h-7 rounded-md hover:cursor-pointer hover:bg-red-400"
                alt="delete button"
                title="delete"
              />
            </button>
          </div>
        </div>
      </li>
      <% }) %>
    </ul>
  </div>

  <!-- " .prompt-container " is nothing but a custom prompt box for updating a file  -->
  <div
    class="prompt-container h-52 fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-[1000] bg-white p-5 border border-gray-300 shadow-lg hidden rounded-lg w-1/3"
  ></div>

  <!-- " previewFIleContainer " is nothing but a custom prompt box for updating a file  -->
  <div
    id="previewFIleContainer"
    class="h-52 fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-[1000] bg-white p-5 border border-gray-300 shadow-lg hidden rounded-lg w-1/3"
  ></div>
</section>

<%- include("partials/footer.ejs") %>
