<!-- views/account.ejs -->
<!--

 In account.ejs file we are able manipulate file data , like update(name only) , delete ,
preview file in dropbox editor for full view (premium), share link to anyone using whatsapp , telegram etc social media platform , download file;

file data -1. original file name
            2. filename
            3. download link
            4. shared link for preview in dropbox


 -->

<%- include("partials/header.ejs") %>

<section class="flex w-full h-auto mx-auto mb-10">
  <div class="md:w-3/4 w-full px-3 md:px-0 text-sm md:text-base py-16 mx-auto">
    <div
      id="user"
      class="flex flex-row gap-4 p-4 border-b-2 border-yellow-300 justify-between"
    >
      <div class="">
        <h2 class="text-yellow-300 text-lg font-bold font-IBM">
          <%= username %>
        </h2>
        <h2 class="text-green-300 text-lg font-semibold"><%= email %></h2>
      </div>
      <h2 class="text-green-300 text-lg font-bold">
        total links :
        <span class="text-yellow-300"> <%= allFileLinksCount.length %> </span>
      </h2>
    </div>

    <!-- Your links -->
    <h3 class="text-md text-purple-300 pt-11">links</h3>
    <ul class="mt-6">
      <% if(findAllFileOFThisUser.length === 0) { %>
      <h2 class="text-red-500 text-center text-3xl w-full h-80">
        No data uploaded yet
      </h2>
      <% } %>

      <!-- Loop through the file list -->
      <% findAllFileOFThisUser.forEach((file, index) => { %>
      <li class="py-3 file-item">
        <div class="flex md:justify-between font-IBM">
          <!-- file-index class name is used for updating the file index after deleting a file -->
          <span class="text-yellow-500 mr-4 md:mr-10 file-index"
            ><%= index + 1 %>.</span
          >
          <span
            class="text-purple-500 filename-display text-xs md:text-base w-[-webkit-fill-available] md:w-auto"
            title="<%=  file.originalFileName %>"
          >
            <%= file.originalFileName.length >= 20
            ?file.originalFileName.substring(0,20) + "..." :
            file.originalFileName %> -
            <small class="text-slate-400"><%= file.filename %></small>
            <input
              type="text"
              class="filename-input hidden"
              data-uuid="<%= file.uuid %>"
              value="<%= file.originalFileName %>"
            />
          </span>
          <span
            class="text-green-400 md:text-base text-xs md:w-28 w-28 flex ml-2"
            ><%= (file.size / 1024 / 1024).toFixed(2) %>
            <span class="pl-2"> mb</span>
          </span>

          <!-- icons -->
          <div
            class="flex items-center w-[90%] md:w-auto md:gap-6 gap-[7px] ml-4 md:ml-0 md:py-2 pb-16 md:pb-5"
          >
            <a
              href="<%= file.sharedFile_url %>"
              target="_blank"
              rel="noopener noreferrer"
              class="underline hover:text-blue-700 font-mono"
            >
              <img
                src="/icons/showFileIcon.svg"
                class="md:w-7 md:h-7 rounded-md hover:cursor-pointer hover:bg-blue-500"
                alt="previewFIle"
                title="preview file"
              />
              <img
                src="/icons/premiumIcon.svg"
                class="md:w-3 w-2 mt-0"
                alt="premiumIcon"
                title="premium"
              />
            </a>

            <!-- download -->
            <a
              class="downloadBtn pb-[10px] md:pb-3"
              data-download-url="<%= file.download_url %>"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="/icons/download.svg"
                class="md:w-7 md:h-7 rounded-md hover:cursor-pointer hover:bg-indigo-700"
                alt="download button"
                title="Download"
              />
            </a>

            <!-- share -->
            <!-- ${process.env.APP_BASE_URL}/download/${file.uuid} -> with this we can get download url , means it wil redirect to download page then we have there download file option -->
            <button
              id="shareBtn"
              class="outline-none"
              data-sharefile-url="<%= `${process.env.APP_BASE_URL}/download/${file.uuid}` %>"
            >
              <img
                src="/icons/share.svg"
                class="w-7 h-7 rounded-md hover:cursor-pointer hover:bg-green-800"
                alt="share button"
                title="share"
              />
              <img
                src="/icons/premiumIcon.svg"
                class="md:w-3 w-2 -mt-1 pb-2"
                alt="premiumIcon"
                title="premium"
              />
            </button>

            <!-- update -->
            <button id="updateBtn" data-uuid="<%= file.uuid %>">
              <img
                src="/icons/update.svg"
                class="md:w-7 md:h-7 rounded-md hover:cursor-pointer hover:bg-purple-600"
                alt="update button"
                title="update"
              />
              <!-- premium icon -->
              <img
                src="/icons/premiumIcon.svg"
                class="md:w-3 w-2 mt-0"
                alt="premiumIcon"
                title="share"
              />
            </button>

            <!-- delete -->
            <button
              id="deleteBtn"
              class="md:pb-3 pb-[10px]"
              data-uuid="<%= file.uuid %>"
            >
              <img
                src="/icons/delete.svg"
                class="md:w-7 md:h-7 rounded-md hover:cursor-pointer hover:bg-red-400"
                alt="delete button"
                title="delete"
              />
            </button>
          </div>
        </div>
      </li>
      <% }) %>
    </ul>
  </div>

  <!-- " .prompt-container " is nothing but a custom prompt box for updating a file -->
  <div
    class="prompt-container h-40 fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-[1000] bg-blue-50 p-5 border border-gray-300 shadow-lg hidden rounded-lg md:w-1/3 w-[200px]"
  ></div>

  <!-- " previewFIleContainer " is nothing but a custom prompt box for updating a file -->
  <div
    id="previewFIleContainer"
    class="h-52 fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-[1000] bg-white p-5 border border-gray-300 shadow-lg hidden rounded-lg w-1/3"
  ></div>
</section>

<%- include("partials/footer.ejs") %>
