<!-- views/helpers/download.ejs -->
<!-- here we are downloading file using uuid of a file with route /download/:uuid  -->

<%- include("../partials/header.ejs") %>

<section class="w-full md:h-full h-screen py-6 md:py-2 pt-3 pb-16">
  <% if(error) { %>
  <!-- when the error will be popup it will automatically take full width and height  -->
  <div class="w-full h-screen">
    <div
      id="fileDownloadError"
      class="py-3 px-3 rounded-md border-2 border-red-800 bg-red-300 w-fit mx-auto text-center"
    >
      <h1><%= error %></h1>
    </div>
  </div>
  <% } else {%>

  <div
    class="rounded-xl py-8 px-6 max-w-lg h-screen mx-auto relative text-center bg-slate-100"
  >
    <!-- Download logo -->
    <img
      src="/icons/download-sd.svg"
      alt="download"
      class="w-24 mx-auto mb-6 opacity-80 transition-opacity duration-300 hover:opacity-100"
    />

    <!-- Download message -->
    <h3 class="text-2xl font-semibold text-blue-700 mb-4">
      Your file is ready to download!
    </h3>

    <!-- File info section -->
    <ul id="fileInfo" class="mt-4 text-gray-600 text-sm space-y-1">
      <li class="text-gray-800 font-semibold">Sender: <%= sender %></li>
      <li class="text-gray-800 font-semibold">File: <%= filename %></li>
      <li class="text-gray-800 font-semibold">
        Size: <%= (fileSize / 1024 / 1024).toFixed(2) %> mb
      </li>
    </ul>

    <!-- Download button -->
    <!-- Button to trigger the download -->
    <button
      id="downloadFileBtn"
      class="bg-blue-600 w-48 text-white py-3 px-12 rounded-md shadow-md hover:bg-blue-500 transition-colors duration-300 mx-auto flex items-center gap-2 my-2"
      data-download-url="<%= downloadLink %>"
    >
      Download

      <img src="/icons/download.svg" alt="" />
    </button>
    <!-- Hidden <a> tag for the actual download  when we click on download button and ok button then we will use this tag for downloading file -->
    <a id="hiddenDownloadLink" style="display: none"></a>
  </div>
  <% } %>
</section>

<%- include("../partials/footer.ejs") %>
