<%- include("../partials/header.ejs") %>

<section class="w-full h-screen flex justify-center">
  <h3>your file uploaded successfully !</h3>
  <h2>file name : <%= filename %></h2>
  <h2>file size : <%= fileSize %></h2>
  <h2>file download url : <%= download_url %></h2>
</section>

<%- include("../partials/footer.ejs") %>
