<%- include("../partials/header.ejs") %>

<section class="w-full h-screen flex items-center justify-center">
  <div
    class="max-w-md mx-auto p-6 bg-white rounded-3xl "
  >
    <div class="text-center space-y-6">
      <h3 class="text-3xl font-semibold text-green-600">
        Your file was sent successfully!
      </h3>
      <div class="space-y-2">
        <h2 class="text-lg font-medium text-gray-700">
          Receiver: <span class="font-bold text-blue-700"><%= receiver %></span>
        </h2>
        <h2 class="text-lg font-medium text-gray-700">
          File Name:
          <span class="font-bold text-blue-700"><%= filename %></span>
        </h2>
        <h2 class="text-lg font-medium text-gray-700">
          File Size:
          <span class="font-bold text-blue-700"><%= fileSize %></span>
        </h2>
        <h2 class="text-lg font-medium text-gray-700">
          Download URL:
          <a
            href="<%= download_url %>"
            class="text-blue-600 font-semibold underline hover:text-blue-800 transition max-w-md"
          >
            <%= download_url.substring(0, 20) %>
          </a>
        </h2>
      </div>
      <a
        href="/"
        class="inline-block mt-8 bg-gradient-to-r from-blue-600 to-blue-800 text-white py-2 px-6 rounded-full shadow-lg hover:shadow-xl hover:from-blue-700 hover:to-blue-900 transition transform hover:scale-110 duration-200"
        >Back to Home</a
      >
    </div>
  </div>
</section>

<%- include("../partials/footer.ejs") %>
